@model AppDocentes.Models.Sede

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Sede</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSede" class="control-label"></label>
                <input asp-for="IdSede" class="form-control" />
                <span asp-validation-for="IdSede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comuna" class="control-label"></label>
                <input asp-for="Comuna" class="form-control" />
                <span asp-validation-for="Comuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomSede" class="control-label"></label>
                <input asp-for="NomSede" class="form-control" />
                <span asp-validation-for="NomSede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomCiudad" class="control-label"></label>
                <input asp-for="NomCiudad" class="form-control" />
                <span asp-validation-for="NomCiudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
