@model AppDocentes.Models.Docente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Docente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDocente" class="control-label"></label>
                <input asp-for="IdDocente" class="form-control" />
                <span asp-validation-for="IdDocente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class ="form-control" asp-items="ViewBag.IdCategoria"></select>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomDocente" class="control-label"></label>
                <input asp-for="NomDocente" class="form-control" />
                <span asp-validation-for="NomDocente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rut" class="control-label"></label>
                <input asp-for="Rut" class="form-control" />
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatDocente" class="control-label"></label>
                <input asp-for="PatDocente" class="form-control" />
                <span asp-validation-for="PatDocente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatDocente" class="control-label"></label>
                <input asp-for="MatDocente" class="form-control" />
                <span asp-validation-for="MatDocente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidad" class="control-label"></label>
                <input asp-for="Nacionalidad" class="form-control" />
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
